<!DOCTYPE html>
<html>
  <!--  media for video (playlist) -->
  {% include head.html %}
  {% include css.html %}

  {% include header.html %}
  <body class="home">
    <main class="container main outer">
      <div class="row">
        <div class="col-xs-12 col-md-3">{% include side_menu.html %}</div>
        <div class="col-md-9 col-xs-12 full">a1{{ a1 }}
        </div>
        <div class="col-md-9 col-xs-12 full">{{ content }}
        </div>
        <div class="row">
          <div class="col-md-12 col-xs-12 footer">{% include footer.html %}</div>
        </div>
      </div>
    </main>
  </body>
</html>
